<%- include('head') %> 
  <body>
    <%- include('navbar') %>
    <h1>Browsing The <%= name %> subreddit</h1>
    <p><%= description %></p>
    <p>Total Subscribers : <%= subscribers %></p>
    <ul>
      <% for (let post of posts) {%>
      <li>
        <p><%= post.author%> - <b><%= post.title%></b></p>
        <% if(post.img) {%>
        <img src="<%= post.img %> " alt="" />
        <%}%>
      </li>
      <%}%>
    </ul>
  </body>
</html>
